{% extends 'base.html.twig' %}

{% block title %}
    Symrecipe - Accueil
{% endblock %}
{% block body %}
    <div class="container mt-4">
        <div class="jumbotron ">
            <h1 class="display-4">Bienvenu sur Symrecipe!</h1>
            <p class="lead">Symrecipe est une application pour te permettre de créer des recettes à base d'ingrédients que tu
            toi-mème peux créer.Tu pourras partager tes recettes à la communité du site, ou bien en garder en privées.</p>

            <div class="d-flex justify-content-between flex-wrap mt-4">
                {% for recipe in recipes %}
                    <div class="card border-primary mb-3 mx-3" style="max-width: 20rem;">
                        <div class="card-header">
                            <a href="{{ path('recipe.show',{'id':recipe.id})}}">Recette: No.{{ recipe.id }}</a>
                            </div>
                        <div class="card-body">
                        <h4 class="card-title">{{ recipe.name }}</h4>
                        <p class="card-text">{{ recipe.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <hr class="my-4">
            <p>Pour commencer, rendez-vous sur la page d'inscription pour utilser cette application.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
            </p>
        </div>

        
    </div>
        
{% endblock %}