{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Contact{% endblock %}

{% block body %}
<div class="container">

    <h1 class="mt-4">Formulaie de Contact</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
        {{ form(form) }}
    </div>
    
</div>
    
{% endblock %}
